################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BG.Selenium.Framework/Screenshots/Test.jpg_17-10-11
/BG.Selenium.Framework/Screenshots/Test.jpg
