<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
<configSections>
  <section
     name="" type=""/>
  
  
</configSections>
<connectionStrings>
  <add name="Myconfig" connectionString="" providerName=""/>
  
</connectionStrings>
<microsoft.visualstudio.testtools>
  <dataSources>
    <add name="" connectionString="" dataTableName="" dataAccessMethod="Sequential"/>
  </dataSources>
</microsoft.visualstudio.testtools>
<system.diagnostics>
  <switches>
    <add name="Eqttracelevel" value="4"/>
    </switches>
  </system.diagnostics>
<appSettings>
  
</appSettings>
</configuration>